<!DOCTYPE html>
<html>
	<head>
	<title>Koha-Suomi - Tarratulostustyökalu</title>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
		<!-- Custom styles for this template-->
		<script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
		<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.min.js"></script>
        <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
		<script src="https://unpkg.com/vuejs-datepicker"></script>
		<script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fi.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
		<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/barcodes/JsBarcode.code128.min.js"></script>
	</head>
	<body>
		<!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/cgi-bin/koha/mainpage.pl">Etusivu</a></li>
            <li class="breadcrumb-item"><a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugit</a></li>
            <li class="breadcrumb-item"><a href="/cgi-bin/koha/plugins/plugins-home.pl">Tarratulostustyökalu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Asetukset</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
        <div id="content-wrapper">
			<div class="container-fluid">
				<main role="main" class="ml-sm-auto pt-3 px-4">
					<div id="configApp">
						<div class="alert alert-danger" role="alert" v-if="errors.length">
							<b>Tapahtui virhe:</b>
							<ul class="text-danger">
								<li v-for="error in errors">{{ error }}</li>
							</ul>
						</div>
						<div class="alert alert-success" role="alert" v-if="saved">
							<b>Tallennus onnistui!</b>
						</div>
						<div class="row justify-content-center alert alert-info" role="alert">
							<ul v-if="showTest" class="nav">
								<li class="nav-item pr-2">
									<button class="btn btn-default" @click="back()">Takaisin</button>
								</li>
								<li class="nav-item pr-2">
									<button class="btn btn-success" @click="printTest()">Tulosta</button>
								</li>
							</ul>
							<ul v-else class="nav">
								<li class="nav-item pl-2">
                                    <multiselect v-model="label" value="value" :options="savedLabels" :searchable="false" label="name" track-by="name" :close-on-select="true" :show-labels="false" placeholder="Tallennetut pohjat" @input="onLabelChange"></multiselect>
								</li>
								<li v-if="label" class="nav-item pl-2">
                                   <button class="btn btn-info" @click="testPrint($event)">Tulosta testi</button>
								</li>
								<li v-if="label && !updateButton" class="nav-item pl-2">
                                   <button class="btn btn-success" @click="saveLabel($event)">Tallenna</button>
								</li>
								<li v-if="label && updateButton" class="nav-item pl-2">
                                   <button class="btn btn-success" @click="updateLabel($event)">Päivitä</button>
								</li>
								<li v-if="label && updateButton" class="nav-item pl-2">
                                   <button class="btn btn-danger" @click="deleteLabel($event)">Poista</button>
								</li>
								<li class="nav-item pl-2">
									<multiselect v-model="selectedType" value="value" :options="labelTypes" :searchable="false" label="name" track-by="name" :close-on-select="true" :show-labels="false" placeholder="Luo uusi" @input="createLabel()"></multiselect>
								</li>
							</ul>
						</div>
						<div v-if="label && !showTest" class="container">
							<div class="row gutters-sm">
								<div class="col-md-6">
									<div class="card">
										<div v-if="totalWidth && totalHeight" class="row justify-content-center mt-5"><span class="mr-2">Leveys: {{totalWidth}}mm</span><span>Korkeus: {{totalHeight}}mm</span></div>
										<div class="row justify-content-center card-body mt-3 mb-5">
											<div :style="label.dimensions" style="background: #EAF0F6;">
												<div style="background: #FFF; height: 100%; overflow:hidden;" class="position-relative border">
													<span v-for="(field, index) in label.fields" :style="field.dimensions" class="position-absolute">
														<span v-if="field.name == 'items.barcode'"><barcode :value="66620201001453" :fontsize="field.dimensions.fontSize"></barcode></span>
														<span v-else>{{field.name}}</span>
													</span>
												</div>
											</div>
											<div v-if="label.signum":style="label.signum.dimensions" style="background: #EAF0F6;">
												<div style="background: #FFF; height: 100%; overflow:hidden;" class="position-relative border">
													<span v-for="(field, index) in label.signum.fields" :style="field.dimensions" class="position-absolute">
														{{field.name}}
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card">
										<div class="card-header">
											<ul class="nav nav-tabs card-header-tabs" role="tablist">
												<li class="nav-item">
												<a class="nav-link" :class="{active: showTab == 'labelSettings'}" href="#" role="tab" aria-controls="labelSettings" aria-selected="true" @click="showTabs('labelSettings')">Tarra</a>
												</li>
												<li class="nav-item">
												<a class="nav-link"  href="#" :class="{active: showTab == 'labelFields'}" role="tab" aria-controls="labelFields" aria-selected="false" @click="showTabs('labelFields')">Tarran kentät</a>
												</li>
												<li v-if="!label.signum && !showSignum" class="nav-item">
												<a class="nav-link"  href="#" role="tab" aria-controls="addSignum" aria-selected="false" @click="addSignum($event)">+ Lisää signum</a>
												</li>
												<li v-if="label.signum || showSignum" class="nav-item">
												<a class="nav-link" href="#" :class="{active: showTab == 'signumSettings'}" role="tab" aria-controls="signumSettings" aria-selected="false" @click="showTabs('signumSettings')">Signum</a>
												</li>
												<li v-if="label.signum || showSignum" class="nav-item">
												<a class="nav-link" href="#" :class="{active: showTab == 'signumFields'}" role="tab" aria-controls="signumFields" aria-selected="false" @click="showTabs('signumFields')">Signum kentät</a>
												</li>
											</ul>
										</div>
										<div class="card-body tab-content">
											<form>
												<div v-if="showTab == 'labelSettings'" class="tab-pane active" id="label" role="tabpanel">
													<div class="form-group">
														<label for="labelName">Nimi</label>
														<input type="text" class="form-control" name="labelName" v-model="label.name"/>
													</div>
													<div class="form-group">
														<label for="labelCount">Tarraa arkilla</label>
														<input type="text" class="form-control" name="labelCount" v-model="label.labelcount"/>
													</div>
													<div class="form-group">
														<label for="labelWidth">Leveys</label>
														<input type="text" class="form-control" name="labelWidth" v-model="label.dimensions.width"/>
													</div>
													<div class="form-group">
														<label for="labelHeight">Korkeus</label>
														<input type="text" class="form-control" name="labelHeight" v-model="label.dimensions.height"/>
													</div>
													<div class="form-group">
														<label for="paddingTop">Ylämarginaali </label>
														<input type="text"  class="form-control" name="paddingTop" v-model="label.dimensions.paddingTop"/>
													</div>
													<div class="form-group">
														<label for="paddingBottom">Alamarginaali </label>
														<input type="text"  class="form-control" name="paddingBottom" v-model="label.dimensions.paddingBottom"/>
													</div>
													<div class="form-group">
														<label for="paddingLeft">Vasen marginaali </label>
														<input type="text"  class="form-control" name="paddingLeft" v-model="label.dimensions.paddingLeft"/>
													</div>
													<div class="form-group">
														<label for="paddingRight">Oikea marginaali </label>
														<input type="text"  class="form-control" name="paddingRight" v-model="label.dimensions.paddingRight"/>
													</div>
												</div>
												<div v-if="showTab == 'labelFields'" class="tab-pane active" id="labelFields" role="tabpanel">
													<div class="form-group">
														<div class="input-group mb-3">
															<span class="mr-3">
																<multiselect class="float-left" v-model="selectedField" value="value" :options="label.fields" :searchable="false" label="name" track-by="name" :close-on-select="true" :show-labels="false" placeholder="Valitse" @input="showFieldData($event)"></multiselect>
															</span>
															<span>
																<div class="input-group mb-3">
																	<multiselect class="float-left" v-model="fieldName" value="value" :options="fields" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Uusi kenttä" @input="addField()"></multiselect>
																</div>
															</span>
														</div>
														<div v-if="selectedField && showField" class="form-group pb-2 border-bottom">
															<label>Nimi:</label> <input type="text"  class="form-control" name="field" :value="selectedField.name" :disabled="isDisabled" @change="updateFieldName($event)"/>
															<label>Ylhäältä:</label> <input type="text" v-model="selectedField.dimensions.top"  class="form-control" name="field" :value="selectedField.dimensions.top" @change="updateDimension($event)"/>
															<label>Vasemmalta:</label> <input type="text" v-model="selectedField.dimensions.left"  class="form-control" name="field" :value="selectedField.dimensions.left" @change="updateDimension($event)"/>
															<label>Oikealta:</label> <input type="text" v-model="selectedField.dimensions.right"  class="form-control" name="field" :value="selectedField.dimensions.right" @change="updateDimension($event)"/>
															<label>Kirjasinkoko:</label> <input type="text" v-model="selectedField.dimensions.fontSize"  class="form-control" name="field" :value="selectedField.dimensions.fontSize" @change="updateDimension($event)"/>
															<div class="form-group">
																<button class="btn btn-danger" @click="deleteField($event)">Poista</button>
															</div>
														</div>
													</div>
												</div>
												<div v-if="showTab == 'signumSettings' && (label.signum || showSignum) " class="tab-pane active" id="signum" role="tabpanel">
													<div class="form-group">
														<label for="labelWidth">Leveys</label>
														<input type="text" class="form-control" name="labelWidth" v-model="label.signum.dimensions.width"/>
													</div>
													<div class="form-group">
														<label for="labelHeight">Korkeus</label>
														<input type="text" class="form-control" name="labelHeight" v-model="label.signum.dimensions.height"/>
													</div>
													<div class="form-group">
														<label for="paddingTop">Ylämarginaali </label>
														<input type="text"  class="form-control" name="paddingTop" v-model="label.signum.dimensions.paddingTop"/>
													</div>
													<div class="form-group">
														<label for="paddingBottom">Alamarginaali </label>
														<input type="text"  class="form-control" name="paddingBottom" v-model="label.signum.dimensions.paddingBottom"/>
													</div>
													<div class="form-group">
														<label for="paddingLeft">Vasen marginaali </label>
														<input type="text"  class="form-control" name="paddingLeft" v-model="label.signum.dimensions.paddingLeft"/>
													</div>
													<div class="form-group">
														<label for="paddingRight">Oikea marginaali </label>
														<input type="text"  class="form-control" name="paddingRight" v-model="label.signum.dimensions.paddingRight"/>
													</div>
													<div class="form-group">
														<button class="btn btn-danger" @click="deleteSignum($event)">Poista</button>
													</div>
												</div>
												<div v-if="showTab == 'signumFields' && (label.signum || showSignum)" class="tab-pane active" id="signumFields" role="tabpanel">
													<div class="form-group">
														<div class="input-group mb-3">
															<span class="mr-3">
																<multiselect class="float-left" v-model="selectedField" value="value" :options="label.signum.fields" :searchable="false" label="name" track-by="name" :close-on-select="true" :show-labels="false" placeholder="Valitse"></multiselect>
															</span>
															<span>
																<div class="input-group mb-3">
																	<multiselect class="float-left" v-model="fieldName" value="value" :options="fields" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Uusi kenttä" @input="addField('signum')"></multiselect>
																</div>
															</span>
														</div>
														<div v-if="selectedField" class="form-group pb-2 border-bottom">
															<label>Nimi:</label> <input type="text"  class="form-control" name="field" :value="selectedField.name" :disabled="isDisabled" @change="updateFieldName($event)"/>
															<label>Ylhäältä:</label> <input type="text" v-model="selectedField.dimensions.top"  class="form-control" name="field" :value="selectedField.dimensions.top" @change="updateDimension($event)"/>
															<label>Vasemmalta:</label> <input type="text" v-model="selectedField.dimensions.left"  class="form-control" name="field" :value="selectedField.dimensions.left" @change="updateDimension($event)"/>
															<label>Oikealta:</label> <input type="text" v-model="selectedField.dimensions.right"  class="form-control" name="field" :value="selectedField.dimensions.right" @change="updateDimension($event)"/>
															<label>Kirjasinkoko:</label> <input type="text" v-model="selectedField.dimensions.fontSize"  class="form-control" name="field" :value="selectedField.dimensions.fontSize" @change="updateDimension($event)"/>
															<div class="form-group">
																<button class="btn btn-danger" @click="deleteField($event)">Poista</button>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div v-if="showTest">
							<print-view :label="label" :prints="prints" :test="true"></print-view>
						</div>
					</div>
				</main>
			</div>
		</div>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!-- Icons -->
		<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
		<script>
			feather.replace();
		</script>
		<script type="module" src="[% PLUGIN_PATH %]/js/config.js"></script>
		<link rel="stylesheet" href="[% PLUGIN_PATH %]/css/print.css">
		<style>
			.multiselect .multiselect__content-wrapper {
				min-width: 100%;
				width: auto;
				border-top: 1px solid #e8e8e8;
				overflow-x: hidden;
			}

			.multiselect--active .multiselect__tags {
				border-bottom: none;
			}

		</style>
	</body>
</html>