<!DOCTYPE html>
<html>
	<head>
	<title>Koha-Suomi - Tarratulostustyökalu</title>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
		<!-- Custom styles for this template-->
		<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
		<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.min.js"></script>
		<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
		<script src="https://unpkg.com/vuejs-datepicker"></script>
		<script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fi.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
		<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
		<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/barcodes/JsBarcode.code128.min.js"></script>
	</head>
	<body>

		<!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/cgi-bin/koha/mainpage.pl">Etusivu</a></li>
            <li class="breadcrumb-item"><a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugit</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tarratulostustyökalu</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
		<div id="content-wrapper">
			<div class="container-fluid">
				<main role="main" class="ml-sm-auto pt-3 px-4">
				<div id="viewApp">
					<div class="alert alert-danger" role="alert" v-if="errors.length">
						<b>Tapahtui virhe:</b>
						<ul class="text-danger">
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="row justify-content-center alert alert-info" role="alert">
						<ul v-if="showPrinting" class="nav">
							<li class="nav-item pr-2">
								<button class="btn btn-default" @click="back()">Takaisin</button>
							</li>
							<li class="nav-item pr-2">
								<button class="btn btn-success" @click="print()">Tulosta</button>
							</li>
						</ul>
						<ul v-else class="nav">
							<li class="nav-item pl-2">
								<multiselect v-model="label" value="value" :options="savedLabels" :searchable="false" label="name" track-by="name" :close-on-select="true" :show-labels="false" placeholder="Valitse pohja"></multiselect>
							</li>
							<li v-if="label" class="nav-item pl-2">
								<button class="btn btn-info" @click="printLabels($event)">Tulostus</button>
							</li>
						</ul>
					</div>
					<div v-if="showPrinting">
						<print-view :label="label" :prints="labels" :test="false"></print-view>
					</div>
					<div v-else class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<div class="row">
											<div class="col-sm-9">
												<multiselect v-model="type" value="value" :options="printingType" :searchable="false" label="name" track-by="name" :close-on-select="true" :show-labels="false" placeholder="Valitse lista" @input="fetchItems()"></multiselect>
											</div>
											<div class="col-sm-3">
												<button class="btn btn-outline-secondary" type="button" @click="addToPrints()">Lisää kaikki</button>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div
										class="list-group-item"
										v-for="(element, index) in items"
										:key="index"
										>
											<div class="row">
												<div class="col-sm-11">
													{{ element.barcode }} (<a target="_blank" :href="'/cgi-bin/koha/catalogue/moredetail.pl?type=&itemnumber='+element.itemnumber+'&biblionumber='+element.biblionumber">{{element.itemnumber}}</a>)
													<a href="#" class="ml-1" @click="removeFromItems(index)"><i class="fas fa-minus text-danger"></i></a>
												</div>
												<div class="col-sm-1">
													<a href="#" class="ml-1" @click="addToPrints(index)"><i class="fas fa-chevron-right text-dark"></i></a>
												</div>
											</div>
										</div>						
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<div class="row">
											<div class="col-sm-9">
												<h5>Tulostettavat niteet</h5>
											</div>
											<div class="col-sm-3">
												<button class="btn btn-outline-secondary" type="button" @click="clearPrints()">Tyhjennä</button>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div
										class="list-group-item"
										v-for="(element, index) in prints"
										:key="index"
										>
										{{ element.barcode }} (<a target="_blank" :href="'/cgi-bin/koha/catalogue/moredetail.pl?type=&itemnumber='+element.itemnumber+'&biblionumber='+element.biblionumber">{{element.itemnumber}}</a>)
										<a href="#" class="ml-1" @click="removeFromPrint(index)"><i class="fas fa-minus text-danger"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</main>
			</div>
		</div>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!-- Icons -->
		<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
		<script>
			feather.replace();
		</script>
		<script type="module" src="[% PLUGIN_PATH %]/js/main.js"></script>
		<link rel="stylesheet" href="[% PLUGIN_PATH %]/css/print.css">
		<style>
			.odd-cell {
				background-color: #eee;
			}
			.badgebox
			{
				opacity: 0;
			}
			.badgebox + .badge
			{
				text-indent: -999999px;
				width: 27px;
				background: #fff;
			}
			.badgebox:focus + .badge
			{
				box-shadow: inset 0px 0px 5px;
			}

			.badgebox:checked + .badge
			{
				text-indent: 0;
				color: #000;
			}
		</style>
	</body>
</html>