<!DOCTYPE html>
<html>
	<head>
	<title>Koha-Suomi - Tarratulostustyökalu</title>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Bootstrap core CSS -->
		<link href="[% PLUGIN_PATH %]/includes/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="[% PLUGIN_PATH %]/includes/vue-multiselect.min.css">
		<link rel="stylesheet" href="[% PLUGIN_PATH %]/css/print.css">
	</head>
	<body>

		<!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/cgi-bin/koha/mainpage.pl">Etusivu</a></li>
            <li class="breadcrumb-item"><a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugit</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tarratulostustyökalu</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
		<div id="content-wrapper">
			<div class="container-fluid">
				<main role="main" class="ml-sm-auto pt-3 px-4">
				<div id="viewApp">
					<error-component :errors="errors"></error-component>
					<div class="row justify-content-center alert alert-info" role="alert">
						<ul v-if="showPrinting" class="nav">
							<li class="nav-item pr-2">
								<button class="btn btn-default" @click="back()">Takaisin</button>
							</li>
							<li><margins-component></margins-component></li>
							<li class="nav-item pr-2">
								<button class="btn btn-success" @click="print()" :disabled="loader"><i v-if="loader" class="fas fa-circle-notch fa-spin"></i><span v-else>Tulosta</button>
							</li>
						</ul>
						<ul v-else class="nav">
							<li class="nav-item pl-2">
								<multiselect v-model="label" value="value" :options="savedLabels" :searchable="false" label="name" track-by="name" :close-on-select="true" :show-labels="false" placeholder="Valitse pohja"></multiselect>
							</li>
							<li v-if="label" class="nav-item pl-2">
								<button class="btn btn-info" @click="printLabels($event)" :disabled="loader"><i v-if="loader" class="fas fa-circle-notch fa-spin"></i><span v-else>Tulosta</span></button>
							</li>
						</ul>
					</div>
					<div v-if="showPrinting">
						<div class="container" :class="[label.type == 'roll' ? 'roll-width' : 'a4-width']">
							<div class="row justify-content-md-center">
								<div v-for="(print, index) in labels" :id="'printLabel_'+index">
									<print-view :label="label" :prints="print" :test="false"></print-view>
									<div class="html2pdf__page-break"></div>
								</div>
							</div>
						</div>
					</div>
					<div v-else class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<div class="row">
											<div class="col-sm-9">
												<multiselect v-model="type" value="value" :options="printingType" :searchable="false" label="name" track-by="name" :close-on-select="true" :show-labels="false" placeholder="Valitse lista" @input="fetchItems()"></multiselect>
											</div>
											<div class="col-sm-3">
												<button class="btn btn-outline-secondary" type="button" @click="addToPrints()">Lisää kaikki</button>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div
										class="list-group-item"
										v-for="(element, index) in items"
										:key="index"
										>
											<div class="row">
												<div class="col-sm-11">
													{{ element.barcode }} (<a target="_blank" :href="'/cgi-bin/koha/catalogue/moredetail.pl?type=&itemnumber='+element.itemnumber+'&biblionumber='+element.biblionumber">{{element.itemnumber}}</a>)
													<a href="#" class="ml-1" @click="removeFromItems(index)"><i class="fas fa-times text-danger"></i></a>
												</div>
												<div class="col-sm-1">
													<a href="#" class="ml-1" @click="addToPrints(index)"><i class="fas fa-chevron-right text-dark"></i></a>
												</div>
											</div>
										</div>						
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<div class="row">
											<div class="col-sm-9">
												<h5>Tulostettavat niteet</h5>
											</div>
											<div class="col-sm-3">
												<button class="btn btn-outline-secondary" type="button" @click="clearPrints()">Tyhjennä</button>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div
										class="list-group-item"
										v-for="(element, index) in prints"
										:key="index"
										>
										{{index+1}}. {{ element.barcode }} (<a target="_blank" :href="'/cgi-bin/koha/catalogue/moredetail.pl?type=&itemnumber='+element.itemnumber+'&biblionumber='+element.biblionumber">{{element.itemnumber}}</a>)
										<a href="#" class="ml-1" @click="removeFromPrint(index)"><i class="fas fa-times text-danger"></i></a>
										</div>
									</div>
									<div class="card-footer">
										<div class="form-group">
											<input v-model="barcode" type="text" class="form-control" placeholder="Lue viivakoodi(t)" @change="setBarcode($event)"></input>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</main>
			</div>
		</div>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="[% PLUGIN_PATH %]/includes/vue.min.js"></script>
		<script src="[% PLUGIN_PATH %]/includes/vuex.min.js"></script>
		<script src="[% PLUGIN_PATH %]/includes/vue-multiselect.min.js"></script>
		<script src="[% PLUGIN_PATH %]/includes/axios.min.js"></script>
		<script src="[% PLUGIN_PATH %]/includes/moment-with-locales.min.js"></script>
		<script src="[% PLUGIN_PATH %]/includes/html2pdf.bundle.min.js"></script>
		<script src="[% PLUGIN_PATH %]/includes/JsBarcode.code39.min.js"></script>
		<script src="[% PLUGIN_PATH %]/includes/jquery.3.2.1.min.js"></script>
		<script src="[% PLUGIN_PATH %]/includes/popper.min.js"></script>
		<script src="[% PLUGIN_PATH %]/includes/bootstrap.min.js"></script>
		<script type="module" src="[% PLUGIN_PATH %]/js/main.js"></script>
		<style>
			.odd-cell {
				background-color: #eee;
			}
			.badgebox
			{
				opacity: 0;
			}
			.badgebox + .badge
			{
				text-indent: -999999px;
				width: 27px;
				background: #fff;
			}
			.badgebox:focus + .badge
			{
				box-shadow: inset 0px 0px 5px;
			}

			.badgebox:checked + .badge
			{
				text-indent: 0;
				color: #000;
			}

			.multiselect .multiselect__content-wrapper {
				min-width: 100%;
				width: fit-content;
				border-top: 1px solid #e8e8e8;
				overflow-x: hidden;
			}

			.multiselect--active .multiselect__tags {
				border-bottom: none;
			}
		</style>
	</body>
</html>